
exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "+",
    "==",
    "competences",
    "cosine",
    "groups",
    "names",
    "names<-",
    "near",
    "overlap",
    "path",
    "performances",
    "plot",
    "position",
    "print",
    "proximity",
    "show",
    "summary",
    "terms",
    "toponymy" 
)

exportClasses(
     "Domain",
     "DomainManager",
     "HumanResourceManager",
     "Performance",
     "Person",
     "Visualiser" 
)

importFrom(tm, Corpus, DirSource, readPlain, tm_map, VectorSource, stemDocument, TermDocumentMatrix, stemCompletion, Terms, stopwords)
importFrom(digest, digest)
importFrom(lsa, lsa, dimcalc_raw, as.textmatrix, query)
importFrom(sna, component.dist, betweenness, gplot.layout.kamadakawai, prestige)
importFrom(stats, hclust, cutree, as.hclust, as.dist, xtabs)
importFrom(fields, image.smooth, interp.surface)
importFrom(fields, make.surface.grid)
importFrom(graphics, image, contour, persp, filled.contour, segments, arrows, points, xspline, lines, barplot, axis, text, abline)
importFrom(lattice, wireframe)
importFrom(grDevices, hsv, heat.colors, trans3d, dev.size, gray, pdf, x11, dev.off)
importFrom(plotrix, boxed.labels)
importFrom(scales, alpha)
importFrom(pracma, pinv)
importFrom(network, network, plot.network)
importFrom(cluster, agnes)
import(Matrix)
import(fields)
import(methods)
import(grDevices)
